.s{
    text-align: center;
}
.a{
    background-color: darkgrey;
   width:350px;
   height:150px;
   border: 5px solid black;
   position: relative;
   left: 80px;
   top: 100px;
}
.t{
    position: relative;
    left: 20px;
    top: 20px;
}
.y{
    color:solid  black;
    max-width: 100px;
    height: 25px;
    position: relative;
    bottom: 125px;
    left: 40px;
    margin-left: 208px;
    background-color: rgb(227, 130, 130) ;
    border: 2px solid black;
    text-align: center;
    color: rgb(0, 0, 0);
    font-weight: bolder;
}
.n{
    background-color: darkgrey;
   width:350px;
   height:150px;
   border: 5px solid black;
   position: relative;
   left: 563px;
   bottom: 59px;
   
}
.r{
    position: relative;
    left: 20px;
    top: 20px;
}
.z{
    color:solid  black;
    max-width: 100px;
    height: 25px;
    position: relative;
    bottom: 145px;
    left: 40px;
    margin-left: 208px;
    background-color: rgb(224, 16, 16) ;
    border: 2px solid black;
    text-align: center;
    color: white;
}
.m{
    background-color: darkgrey;
   width:350px;
   height:150px;
   border: 5px solid black;
   position: relative;
   left: 1050px;
   bottom: 218px;
   
}
.p{
    position: relative;
    left: 20px;
    top: 20px;
}
.q{
    color:solid  black;
    max-width: 100px;
    height: 25px;
    position: relative;
    bottom: 145px;
    left: 40px;
    margin-left: 208px;
    background-color: rgb(225, 212, 72) ;
    border: 2px solid black;
    text-align: center;
    color: rgb(0, 0, 0);
    font-weight: bolder;
}
@media  only screen and (max-width:600px){
    .j{
        position: relative;
        right:970px;
        top: 500px;
        
    }
    .n{
        position: relative;
       left: 75px;
        top: 200px;
    }
}
@media  only screen and (min-width:900px){
    .j{
        position: relative;
        right:800px;
        top: 300px;
        
    }
    .n{
        position: relative;
       left: 500px;
        top: -60px;
    }
}
@media  only screen and (min-width:1200px){
    .j{
        position: relative;
        right:120px;
        top: -1px;
        
    }
    .n{
        position: relative;
       left: 500px;
        top: -60px;
    }
}